:root {
    --anchoPantalla: 1200px;
    --anchoPantallaNew: 2000px;
    --textNone: none;
  }
  
  /*Globals*/
  /* apply a natural box layout model to all elements, but allowing components to change */
  html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  img {
    max-width: 100%;
  }
  body {
    background-color: #a39f9e !important;
  }
  
  .contenedor-header {
    max-width: 1709px;
    margin: 0 auto;
  }
  .contenedor {
    max-width: var(--anchoPantalla);
    margin: 0 auto;
  }
  
  h3 {
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: black;
    cursor: pointer;
  }
  
  li,
  ul {
    list-style: none;
  }
  
  /*Cabezera*/
  
  .header {
    background-color: black;
    height: auto;
    width: 100%;
    z-index: 1111;
  }
  @media (min-width: 768px) {
    .header {
      background-color: black;
      height: auto;
      width: 100%;
      z-index: 11;
      display: block;
    }
  }
  @media (min-width: 1024px) {
    .header {
      background-color: black;
      height: 160px;
      width: 100%;
      z-index: 11;
    }
  }
  @media (min-width: 1600px) {
    .header {
      background-color: black;
      height: 150px;
      width: 100%;
      z-index: 11;
    }
  }
  .Header-Float {
    position: fixed;
  }
  
  @media (min-width: 360px) {
      .logo-main{
         height: auto;
         width: 40%;
      }
  }
  @media (min-width: 768px) {
      .logo-main{
          height: 18rem;
   
      }
  }
  @media (min-width: 360px) {
      .logo-main img {
          width: 100%;
          background-color: red;
          margin-left: auto;
        }
  }
  @media (min-width: 768px) {
    .logo-main img {
      width: 100%;
      background-color: red;
      margin-left: auto;
    }
  }
  @media (min-width: 1709px) {
    .logo-main img {
      width: 100%;
   
    }
  }
  
  /*Class para modificar la barra cuando se hace scroll*/
  
  @media (min-width: 360px) {
    .scroolLogo-Main img {
      height: auto;
      margin-top: 0px;
    }
  }
  @media (min-width: 768px) {
    .scroolLogo-Main img {
      width: 100%;
      height: 90%;
      margin-top: 0px;
    }
  }
  @media (min-width: 1024px) {
    .scroolLogo-Main img {
      width: 100%;
      height: 90%;
      margin-top: 0px;
    }
  }
  
  
  @media (min-width: 360px) {
      .main-header {
   
          display: grid;
          grid-template-columns: 1fr 110px ;
  
        }
  }
  
  @media (min-width: 768px) {
      .main-header {
   
          display: grid;
          grid-template-columns: repeat(3,1fr);
          grid-column-gap:30px;
        }
  }
  
  @media (min-width: 360px) {
    .Search-main {
      display: none;
      padding-top: 50px;
    
    }
  }
  
  @media (min-width: 768px) {
    .Search-main {
      display: block;
      padding-top: 4em;
      
    }
  }
  .formulario {
      position: relative;
  }
  
  @media (min-width: 768px) {
      .Search-main button{
          position: absolute;
          width: 20%;
          height: 100%;
          right: 0;
          border: 2px solid red;
          background-color: red;
          color: white;
          font-size:1.4em;
          text-align: center;
      }
  }
  @media (min-width: 1024px) {
      .Search-main button{
          position: absolute;
          width: 10%;
          height: 100%;
          right: 0;
          border: 2px solid red;
          background-color: red;
          color: white;
          font-size:1.4em;
          text-align: center;
      }
  }
  .search:focus {
    border: 2px solid red;
  }
  
  @media (min-width: 768px) {
    .search {
      font-size: 1em;
      width: 100%;
      height:3.2em;
      outline: none;
      padding: 1.4em;
      border: 2px solid red;
    }
  }
  
  
  @media (min-width: 768px) {
    .Search-main span {
      position: absolute;
      font-size: 2.4em;
      margin-left: 0px;
      margin-top: 1.6em;
      background-color: red;
      padding: .20em;
      color: #fff;
    }
  }
  
  
  .Search-main span:hover {
    cursor: pointer;
    background-color: rgba(211, 14, 14, 0.664);
    transition: 0.4s;
  }
  
  
  
  @media (min-width: 768px) {
    .paddLeft-50px {
      padding-left: auto;
    }
  }
  @media (min-width: 360px) {
      .Icons-main{
          display: none;
      }
  }
  @media (min-width: 768px) {
    .Icons-main {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-self: center;
      margin-top: 1.3em;
    }
  }
  
  
  
  @media (min-width: 768px) {
    .icons-user a {
      display: block;
      margin-top: 3.3em;
      text-decoration: none !important;
      color: #fff;
      font-size: 1em;
      width: 7em;
      text-align: center;
    }
  }
  
  .icons-user a:hover {
    color: red;
  }
  .icons-user .desplegable-cuenta{
    display: none;
    list-style: none;
    text-decoration: none;
    min-width: 100px;
    position: absolute;
    z-index: 1;
    background-color: red;
    min-width: 120px;
    
  }
  
  .desplegable-cuenta {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    
  }
  .desplegable-cuenta a {
    display: block;
    text-decoration: none !important;
    margin-top: 0px;
    color: #fff;
    line-height: 40px;
    width: 100%;
    padding: .5rem;
  }
  .desplegable-cuenta a:hover {
    color: red;
  }
  .icons-user .categorias-MiCuenta:hover .desplegable-cuenta{
    display: block;
  }
  .desplegable-cuenta  a:hover {
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.568);
  }
  
  
  @media (min-width: 768px) {
    .icons-shopping-card {
      margin-top: 3em;
      width:1.5em;
      height: 1.5em;
      margin-left: 1em;
     
    }
  }
  
  .icons-shopping-card img {
    width: 100%;
    position: relative;
  }
  .icons-shopping-card img {
    cursor: pointer;
  }
  
  .icons-shopping-card span {
    color: #fff;
    position: absolute;
    margin-top: .5em;
    text-align: center;
  }
  
  /* Modal carrito */
  .modalContainer {
    display: none;
    position: fixed;
    z-index: 11;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  .modalContainer .modal-content {
    background-color:white;
    margin: auto;
    padding: 20px;
    border: 1px solid lightgray;
    width: 30%;
    overflow: auto;
    height: 600px;
  }
  .modal-content h2 {
    text-align: center;
    font-weight: bold;
  }
  .modalContainer .closed {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .modalContainer .closed:hover,
  .modalContainer .closed:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .contenedor-carrito{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  
  
  
  @media (min-width: 360px) {
      .sub-menu {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-column-gap: 15px;
      
        }
  }
  @media (min-width: 768px) {
      @media (min-width: 360px) {
          .sub-menu {
              display: none;
              grid-template-columns: repeat(2, 1fr);
              grid-column-gap: 1em;
            }
      }
  }
  
  .sub-menu img {
    display: block;
    margin-top: 15px;
    margin-right: 10px;
  }
  
  @media (min-width: 768px) {
    .sub-menu img {
      display: none;
      margin-top: 30px;
    }
  }
  .carrito-sub-menu {
    display: grid;
  }
  @media (min-width: 768px) {
    .carrito-sub-menu {
      display: none;
    }
  }
  .carrito-sub-menu span {
    color: white;
    display: grid;
    padding-top: 3em;
    padding-left: 2.4em;
    margin: 0;
    position: absolute;
  }
  
  .menu-burger{
    display: none;
    background-color: rgb(255, 0, 0);
    padding: 1rem;
  
  }
  
  .menu-burger li a{
    color:white;
    text-decoration: none!important;
    font-size: calc(1em + 1vw);
    display: block;
    padding: 1rem;
  }
  .menu-burger a:hover{
    text-decoration: none!important;
    color:rgb(226, 211, 211);
    background-color: black;
   
  }
  .menu-burger form{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  .misCategoriasMobile ul{
    color: white
  }
  
  
  
  
  
  
  .slideNavCarrito {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
  }
  .slideNavCarrito a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .slideNavCarrito a:hover {
    color: #f1f1f1;
  }
  .slideNavCarrito .closebtn2 {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media (min-width: 360px) {
    .productos-carrito {
      display: flex;
      justify-content: center;
      justify-items: center;
      border: 1px solid white;
      margin-bottom: 10px;
    }
  }
  @media (min-width: 768px) {
    .productos-carrito {
      display: grid;
      grid-template-columns: repeat(3,1fr);
    }
  }
  
  .site-image {
    width: 20%;
  }
  .site-image img {
    margin-top: 0;
    padding-left: 3px;
  }
  .site-image-carrito {
    width: 50%;
  }
  .site-image-carrito img {
    margin-top: 0;
    padding-left: 0px;
  }
  .site-information {
    display: flex;
    color: white;
    padding: 10px;
  }
  .site-information-carrito {
    display: flex;
    justify-content: space-around;
    color: black;
    padding: 10px;
  }
  .DescartarArticulo {
    position: relative;
    width: 20%;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    border: none;
    background-color: transparent;
    color: white;
    border: solid white;
  }
  .DescartarArticulo-carrito {
    position: relative;
  
    height: 50%;
  
    font-size: px;
    border: none;
    background-color: transparent;
    color: black;
    border: none;
    margin-top: 20px;
    margin-left: 20px;
  }
  .DescartarArticulo:hover {
    color: white;
    background-color: red;
    outline-color: var(--textNone);
  }
  .DescartarArticulo-carrito:hover {
    color: red;
    outline-color: var(--textNone);
  }
  .site-information span {
    margin: 0 !important;
    position: absolute !important;
    padding: 0px !important;
    padding-top: 32px !important;
    padding-left: 7px !important;
  }
  .site-information-carrito p {
    padding-top: 30px;
  }
  .site-information-carrito span {
    margin: 0 !important;
    position: absolute !important;
    padding: 0px !important;
    padding-top: 80px !important;
  }
  .Total {
    max-width: 300px;
    margin: 40px auto;
  }
  .Total-carrito {
    max-width: 300px;
    margin: 20px auto;
    text-align: center;
  }
  .Total P {
    color: white;
    font-size: 20px;
  }
  .Total-carrito p {
    color: black;
    font-size: 20px;
  }
  .OpcionCarrito {
    display: flex;
    justify-content: center;
  }
  .OpcionCarrito button {
    padding: 20px;
    margin-right: 10px;
  }
  .vaciar {
    background-color: transparent;
    border: solid;
    color: white;
    font-weight: bold;
    border-color: white !important;
    outline-color: white;
  }
  .vaciar-carrito {
    background-color: transparent;
    border: 5px solid;
    color: black;
    font-weight: bold;
    border-color: red !important;
    outline-color: white;
    transition: 0.5s;
  }
  .vaciar-carrito:hover {
    background-color: red;
    color: white;
  }
  .vaciar:hover {
    background-color: red;
  }
  .comprar {
    font-weight: bold;
    background-color: rgb(6, 114, 6);
    border: none;
    color: white;
  }
  .comprar-carrito {
    font-weight: bold;
    background-color: rgb(6, 114, 6);
    border: solid;
    color: white;
   
  }
  
  
  
  @media screen and (max-height: 450px) {
    .slideNavCarrito {
      padding-top: 15px;
    }
    .slideNavCarrito a {
      font-size: 18px;
    }
  }
  
  /*Barra*/
  .Barra {
    height: auto;
    width: 10px;
    background-color: black;
    width: 100%;
  }
  @media (min-width: 1707px) {
    .Barra {
      height: auto;
      width: 10px;
      background-color: black;
      width: 100%;
     
      padding-bottom: 30px;
    }
  }
  .contenedor-barra {
    display: none;
  }
  @media (min-width: 1709px) {
    .contenedor-barra {
      display: flex;
      justify-content: space-between;
    }
  }
  .Menu-desplegable {
    cursor: pointer;
    margin-left: 100px;
  }
  .Menu-desplegable .desplegable {
    display: none;
    list-style: none;
    text-decoration: none;
    min-width: 100px;
    position: absolute;
    z-index: 1;
    background-color: red;
    min-width: 215.69px;
    line-height: 30px;
  }
  .desplegable  {
   
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: left;
   
  }
  .desplegable li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .desplegable a {
    display: block;
    text-decoration: none !important;
    text-transform: uppercase;
    color: #fff;
    line-height: 40px;
  }
  .desplegable a:hover {
    color: red;
  }
  .Menu-desplegable .categoriasDesplegables:hover .desplegable {
    display: block;
  }
  .desplegable a:hover {
    text-decoration: none;
  
    color: #fff;
    background-color: rgba(0, 0, 0, 0.568);
  }
  .vr {
    width: 4px;
    background-color: #fff;
    height: 70px;
    margin-left: 10px;
  }
  
  .barra-categoria {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 5px;
  }
  .barra-categoria div {
    text-align: center;
  }
  
  .barra-categoria label {
    color: #fff;
    display: flex;
    justify-content: center;
  }
  .barra-after {
    background-color: red;
    height: 10px;
  }
  
  @media (min-width: 768px) {
    .barra-after {
      background-color: red;
      height: 2rem;
      display: block;
    }
  }
  
  @media (min-width: 360px) {
    .barra-afterr {
      background-color: red;
      position: fixed;
      height: 1rem;
      width: 100%;
      margin-top: 6rem;
      z-index: 1;
    }
  }
  @media (min-width: 768px) {
    .barra-afterr {
      display: block;
      background-color: red;
      position: fixed;
      height: 20px;
      width: 100%;
      margin-top: 120px;
      z-index: 1;
    }
  }
  @media (min-width: 1024px) {
    .barra-afterr {
      display: block;
      background-color: red;
      position: fixed;
      height: 20px;
      width: 100%;
      margin-top: 15rem;
      z-index: 1;
    }
  }
  @media (min-width: 1920px) {
    .barra-afterr {
      display: block;
      background-color: red;
      position: fixed;
      height: 20px;
      width: 100%;
      margin-top: 150px;
      z-index: 1;
    }
  }
/*Contenedor footer*/
.before-footer{
    height: auto;
    background-color: grey;
    display: flex;
    flex-direction: column-reverse;

}
@media (min-width: 768px) {
    .before-footer{
        height: 250px;
        background-color: grey;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width: 360px) {
    .information{
        display: grid;
        padding-top: 20px;
        line-height: 40px;
        grid-template-columns: repeat(1,1fr);
        text-align: center;
        margin-bottom: 10px;
       
    }
}
@media (min-width: 768px) {
    .information{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        line-height: 40px;
    }
}

.information a {
    color: #fff!important;
    text-decoration: none!important;
}
@media (min-width: 768px) {
    .information a {
        color: #fff!important;
        text-decoration: none!important;
    }
}
.information a:hover {
    color: red!important;
    text-decoration: none!important;
}
.after-footer{
    height: 70px;
    background-color: black;
}
.after-footer p {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.Maps{

    display: grid;
    height: 200px;
    width:100%;
    background-color: #fff;
    
}
@media (min-width: 768px) {
    .Maps{
        height: 200px;
        width:500px;
        background-color: #fff;
        margin-top: 30px;
       
    }
}
/* Login */
@media (min-width: 360px) {
    .modal-dialog {
      width: auto!important;
      margin: 30px auto;
  }
  }
  @media (min-width: 768px){
    .modal-dialog {
      width: 400px!important;
      margin: 30px auto;
  }
  }
  
  
@media (min-width: 360px) {
  /* Input file style */
.custom-input-file {
  background-color: #941B80;
  color: #fff;
  cursor: pointer;
  font-size: calc(1em + 1vw);
  font-weight: bold;
  margin: 0 auto 0;
  min-height: 15px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 100%;
}
}
@media (min-width: 768px) {
    /* Input file style */
.custom-input-file {
  background-color: #941B80;
  color: #fff;
  cursor: pointer;
  font-size: calc(.6em + .6vw);
  font-weight: bold;
  margin: 0 auto 0;
  min-height: 15px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 100%;
}
}
.custom-input-file .input-file {
border: 10000px solid transparent;
cursor: pointer;
font-size: 10000px;
margin: 0;
opacity: 0;
outline: 0 none;
padding: 0;
position: absolute;
right: -1000px;
top: -1000px;
}
@media (min-width: 360px) {
.modal-header h4 img{
    width: 100%;
} 
}
@media (min-width:  768px) {
.modal-header h4 img{
    width: 50%;
} 
}
