:root{
    --anchoPantalla : 1200px;
    --anchoPantallaNew :2000px;
    --textNone: none;
}

/*Globals*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  img{
      max-width: 100%;
  }
  body{
      background-color: #A39F9E!important;
  }
  
  .contenedor-header{
      max-width: 1709px;
      margin: 0 auto;
  }
  .contenedor{
    max-width: var(--anchoPantalla);
    margin: 0 auto;
  }

  h3{
      font-weight: bold;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: black;
      cursor: pointer;
  }
 
  li ,ul{
      list-style: none;
  }

  /*Cabezera*/
 
 
  .header{
      background-color: black;
      height: auto;
      width: 100%;
      z-index: 1;
      
  }
  @media (min-width: 768px) {
    .header{
        background-color: black;
        height: auto;
        width: 100%;
        z-index: 1;
        display: block;
     
    }
  }
  @media (min-width: 1707px ) {
    .header{
        background-color: black;
        height: 150px;
        width: 100%;
        z-index: 1;
  
    }
  }
  .Header-Float {
    position: fixed;
  }
 
  

  .logo-main img{
      width: 40%;
      background-color: red; 
      margin-left: auto;

  }

  @media (min-width: 768px) {
    .logo-main img{
        width: auto;
        background-color: red; 
        margin-left: auto;
    }
  }
  @media (min-width: 1709px ) {
      .logo-main img{
          width: 100%;
        height: 315px;  
      }
  }

  /*Class para modificar la barra cuando se hace scroll*/
  
  @media (min-width: 360px) {
    .scroolLogo-Main img{
        height: auto;
        margin-top: 0px;
    }
  }
  @media (min-width: 768px) {
    .scroolLogo-Main img{
        width: 100%;
        height: auto;
        margin-top: 0px;
    }
  }
 
  .main-header{
      display: flex;
    justify-content: space-between;
  }
  .Search-main{
      display: none;
    padding-top: 50px;
    position: relative;
  
  }
  @media (min-width: 768px) {
    .Search-main{
        display: block;
        padding-top: 50px;
        position: relative;
      
      }
  }
 @media (min-width: 1707px) {
    .Search-main{
        padding-top: 60px;
        position: relative;
      
      }
 }
  .search{
    font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 20px;
     width: 200px;
     height: 20px;
     outline: none;
     padding: 20px;
 
 }
 @media (min-width: 768px ) {
    .search{
        font-family: Georgia, 'Times New Roman', Times, serif;
         font-size: 15px;
         width: 500px;
         height: 20px;
         outline: none;
         padding: 20px;
     
     }
 }
 @media (min-width: 1300px) {
    .search{
        font-family: Georgia, 'Times New Roman', Times, serif;
         font-size: 20px;
         width: 600px;
         height: 40px;
         outline: none;
         padding: 24px;
     
     }
 }
 .Search-main span {
     position: absolute;
     margin-top: 50px;
     font-size: 29px;
     background-color:red;
     padding: 7px;
     color: #fff;
 }
 @media (min-width: 768px) {
    .Search-main span {
        position: absolute;
        margin-top: 50px;
        font-size: 35px;
        margin-left: 0px;
        background-color:red;
        padding: 8px;
        color: #fff;
    }
 }
 @media (min-width: 1707px) {
    .Search-main span {
        position: absolute;
        margin-top: 60px;
        font-size: 35px;
        margin-left: 0px;
        background-color:red;
        padding: 8px;
        color: #fff;
    }
 }
 .Search-main span:hover{
     cursor: pointer;
     background-color:rgba(211, 14, 14, 0.664);
     transition: .4s;
 }

 .paddLeft-50px{
    padding-left: 50px;
}
 
 @media (min-width: 768px) {
    .paddLeft-50px{
        padding-left: 150px;
    }
 }
 .Icons-main{
     display: none;
     grid-template-columns: repeat(2,1fr);
     grid-column-gap: 20px;
     margin-top: 50px;
     justify-items: left;
 }
 @media (min-width: 768px) {
    .Icons-main{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 20px;
        margin-left: 80px;
        margin-top: 30px;
   
        
    }
 }



 .icons-user{
    display: flex;
    justify-content: space-evenly;
 
 }
 .icons-user a{
    display: block;
    margin-left: 10px;
    margin-top: 15px;
    text-decoration:none!important;
    color: #fff;
    font-size: 13px;
 }
@media (min-width: 768px) {
    .icons-user a{
        display: block;
     
       margin-top: 35px;
      text-decoration:none!important;
      color: #fff;
      font-size: 15px;
      width: 100px;
      text-align: center;
    }
}
 @media (min-width: 1920px) {
    .icons-user a{
        display: block;
       margin-left: 20px;
       margin-top: 43px;
      text-decoration:none!important;
      color: #fff;
      font-size:  16px; 
    }
 }
 .icons-user a:hover{
     display: block;
     color: red;
 }
.ocultar-usuario{
    display: none!important;
}
 .icons-shopping-card  {
    width: 25px;
    height: 3px;
 }
 @media (min-width: 768px) {
    .icons-shopping-card  {
        margin-top: 30px;
        width: 25px;
        height: 25px;
       
     }
 }
 @media (min-width: 1920px) {
    .icons-shopping-card  {
        margin-top: 35px;
        width: 30px;
        height: 30px;
       
     }
 }
 .icons-shopping-card img{ 
    width: 100%;
    position: relative;
 }
 .icons-shopping-card img{
     cursor: pointer;
 }
 .icons-shopping-card span{
    color: #fff;
    position: absolute;
    margin-top: 20px;
 }
 .sub-menu img{
    display: block;
    margin-top: 2px; 
    margin-right: 10px;   
  
 }
 @media (min-width: 768px) {
    .sub-menu img{
        display: none;
        margin-top: 30px;    
     }
 }
 /*Barra*/
.Barra{
    height: auto;
    width: 10px;
    background-color:black;
    width: 100%;    
} 
@media (min-width: 1707px) {
    .Barra{
        height: auto;
        width: 10px;
        background-color:black;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
            
    } 
}
.contenedor-barra{
    display: none;
}
@media (min-width: 1709px) {
    .contenedor-barra{
        display: flex ;
        justify-content: space-between;
    }
}
.Menu-desplegable{
    cursor: pointer;
    margin-left: 20px;
}
.Menu-desplegable .desplegable{
    display: none;
    list-style: none;
    text-decoration: none;
    min-width: 100px;
    position: absolute;
    z-index: 1;
    background-color: black;
    min-width: 215.69px;
    line-height: 30px;
  
}
.desplegable{
    list-style:none;
    margin:0; 
    padding: 0;
    border:0;
    text-align: center;
}
.desplegable a{
    display: block;
    text-decoration: none!important;
    text-transform: uppercase;
    color: #fff;
    line-height: 40px;
   
}
.desplegable a:hover{
    color: red;
}
.Menu-desplegable .categoriasDesplegables:hover .desplegable{
    display: block;
    
}
.desplegable a:hover{
    text-decoration: none;

    color:#fff;
    background-color: red;
}
.vr {
    width:4px;
    background-color:#fff;
    height: 70px;
    margin-left:  10px;
}

.barra-categoria{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-column-gap: 5px;
}
.barra-categoria div {
    text-align: center;
    
}

.barra-categoria label {
    color: #fff;
    display: flex;
    justify-content: center;
}
.barra-after{
    background-color: red;
    height: 10px;
}

@media (min-width: 768px ) {
    .barra-after{
        background-color: red;
        height: 20px;
        display: block;
    }
}


@media (min-width: 360px) {
    .barra-afterr{
        background-color: red;
        position: fixed;
        height: 10px;
        width: 100%;
        margin-top: 65px;
        z-index: 1;
    }
}
@media (min-width: 768px) {
    .barra-afterr{
        display: block;
        background-color: red;
        position: fixed;
        height: 20px;
        width: 100%;
        margin-top: 120px;
        z-index: 1;
    }
}
@media (min-width: 1920px) {
    .barra-afterr{
        display: block;
        background-color: red;
        position: fixed;
        height: 20px;
        width: 100%;
        margin-top: 150px;
        z-index: 1;
    }
}
   


/*Slider*/
.contenedor-slider{
    
    height: 200px;
    background-color: grey;
    background-image: url(/img/BANNER.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;


}
@media (min-width: 768px) {
    .contenedor-slider{
        display: block;
        height: 500px;
        background-color: grey;
        background-image: url(/img/BANNER.jpg);
        background-position: center center;
        background-size: cover;
    
    }
}

/*Servicios*/
.seccion-services{
    display: none;
    margin-top: 70px;
    margin-bottom: 100px;
    height: 150px;
    padding-top: 10px;
 background: rgb(240, 236, 234);
    background: linear-gradient(90deg, rgb(230, 224, 222) 0%, rgb(199, 193, 191) 100%, rgba(255,255,255,1) 100%);
    border-radius:20px;
    -webkit-box-shadow: 3px 3px 14px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 14px -6px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 14px -6px rgba(0,0,0,0.75);
}
@media (min-width: 768px) {
    .seccion-services{
        display: block;
        margin-top: 70px;
        margin-bottom: 100px;
        height: 150px;
        padding-top: 10px;
     background: rgb(240, 236, 234);
        background: linear-gradient(90deg, rgb(230, 224, 222) 0%, rgb(199, 193, 191) 100%, rgba(255,255,255,1) 100%);
        border-radius:20px;
        -webkit-box-shadow: 3px 3px 14px -6px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 3px 14px -6px rgba(0,0,0,0.75);
        box-shadow: 3px 3px 14px -6px rgba(0,0,0,0.75);
    }
}
.contenedor-servicios {
    display: flex;
    justify-content: space-evenly;
    
}
.servicio1{
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.icono-servicio{
    height: 70px;
    width: 70px;
}
/*Contenido principal ... main*/


.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    margin-bottom: 100px;
 }

 @media (min-width: 360px) {
    .wrapper {
        display: flex;
        flex-direction: column;
     }
 }
 @media (min-width: 768px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 1em;
        margin-bottom: 100px;
    
       
     } 
 }
 .wrapper > div {
    height:300px;
    border-radius: 5px;
    background-color: #fff;
    padding: 1em;
    color: #fff;
  }
  @media (min-width: 360px) {
    .wrapper > div {
        height:300px; 
        border-radius: 5px;
        background-color: #fff;
        padding: 1em;
        color: #fff;
      }
  }
  @media (min-width: 768px) {
    .wrapper > div {
        height:200px;
        
        border-radius: 5px;
        background-color: #fff;
        padding: 1em;
        color: #fff;
      }
  }
  .wrapper > div:hover{
    -webkit-box-shadow: 3px 3px 14px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 14px -6px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 14px -6px rgba(0,0,0,0.75);
    cursor: pointer;
    border: red 1px solid;
  }
  .style-Column{
    background: blue;
    text-align: center;
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 3;
    height: auto!important;
    background-image: url(/img/armatuPC2.jpg);
    background-size: cover;
    background-position: center ;
   
  }
 
 .titulo{
    margin-top: 160px;
 }
 .titulo-parrafo{    
    background-color:rgba(255, 0, 0, 0.46);
    border: none 1em red;  
    border-radius: 2em;
     color: white;
     font-weight: bold;
     font-size: 40px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
 }

@media (min-width: 360px) {
    .contenido-publicidad{
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        grid-row-gap: 11px;
       
    }
}
@media (min-width: 768px) {
    .contenido-publicidad{
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: repeat(5,1fr);
       
        justify-items: center;
    }
}

.publicidad {
      height: 120px;
      width: 120px;
      background-color:#fff;
      
}
.publicidad:hover{
    -webkit-box-shadow: 3px 3px 14px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 14px -6px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 14px -6px rgba(0,0,0,0.75);
    cursor: pointer;
   
}
.publicacidad img{
    height: 40px;
}
@supports(object-fit: cover){
    .publicidad img{
      height: 100%;
      object-fit:scale-down;
    }
}
.titulo-global-publicacion{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.titulo-global-publicacion P{
    color: black;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}
.publicacion2{
 position: relative;
}
.publicacion2 img{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  height: 40px;
  transition: .5s ease;
  backface-visibility: hidden;
}
@supports(object-fit: cover){
    .publicacion2 img{
      height: 100%;
      object-fit:scale-down;
    }
}
.publicacion2:hover img{
    opacity: 0.3;
}
.publicacion2:hover .titulo-global-publicacion{
    opacity: 1;
}
/* ----PUBLICIDAD----- FIN-----2 */
.publicacion3 {
    position: relative;
}
.publicacion3 img{
    height: 40px;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    height: 40px;
    transition: .5s ease;
    backface-visibility: hidden;
}
@supports(object-fit: cover){
    .publicacion3 img{
      height: 100%;
      object-fit:scale-down;
    }
}
.publicacion3:hover img{
    opacity: 0.3;
}
.publicacion3:hover .titulo-global-publicacion{
    opacity: 1;
}
/* ----PUBLICIDAD----- FIN-----3 */
.publicacion4 {
    position: relative;
}
.publicacion4 img{
    height: 50px;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    height: 40px;
    transition: .5s ease;
    backface-visibility: hidden;
}
@supports(object-fit: cover){
    .publicacion4 img{
      height: 100%;
      object-fit:scale-down;
    }
}
.publicacion4:hover img{
    opacity: 0.3;
}
.publicacion4:hover .titulo-global-publicacion{
    opacity: 1;
}
/* ----PUBLICIDAD----- FIN-----4 */
.publicacion5 {
    position: relative;
 
}
.publicacion5 img{
    height: 40px;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    height: 40px;
    transition: .5s ease;
    backface-visibility: hidden;
}
@supports(object-fit: cover){
    .publicacion5 img{
      height: 90%;
      object-fit:scale-down;
      object-position: center center;
      padding-left: 20px;
    }
}
.publicacion5:hover img{
    opacity: 0.3;
}
.publicacion5:hover .titulo-global-publicacion{
    opacity: 1;
}
/* ----PUBLICIDAD----- FIN-----5 */
.publicacion6{
    position: relative;
}
.publicacion6 img{
    height: 40px;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    height: 40px;
    transition: .5s ease;
    backface-visibility: hidden;
}
@supports(object-fit: cover){
    .publicacion6 img{
      height: 100%;
      object-fit:cover;
      object-position: center center;
      padding-left: 20px;
      padding-right: 20px;
    }
}
.publicacion6:hover img{
    opacity: 0.3;
}
.publicacion6:hover .titulo-global-publicacion{
    opacity: 1;
}
/* ----PUBLICIDAD----- FIN-----6 */
.publicacion7{
 position: relative;
}
.publicacion7 img{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.publicacion7:hover img{
    opacity: 0.3;
}
.publicacion7:hover .titulo-global-publicacion{
    opacity: 1;
}

.main-container{
  
    background: rgb(201,197,196);
    background: linear-gradient(90deg, rgba(201,197,196,1) 0%, rgba(163,159,158,1) 100%, rgba(255,255,255,1) 100%);
    padding: 40px;
    margin-bottom: 20px;
    -webkit-box-shadow: 3px 3px 14px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 14px -6px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 14px -6px rgba(0,0,0,0.75);
  
}
/*Contenedor footer*/
.before-footer{
    height: auto;
    background-color: grey;
    display: flex;
    flex-direction: column-reverse;

}
@media (min-width: 768px) {
    .before-footer{
        height: 250px;
        background-color: grey;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width: 360px) {
    .information{
        display: grid;
        padding-top: 20px;
        line-height: 40px;
        grid-template-columns: repeat(1,1fr);
        text-align: center;
        margin-bottom: 10px;
       
    }
}
@media (min-width: 768px) {
    .information{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        line-height: 40px;
    }
}

.information a {
    color: #fff!important;
    text-decoration: none!important;
}
@media (min-width: 768px) {
    .information a {
        color: #fff!important;
        text-decoration: none!important;
    }
}
.information a:hover {
    color: red!important;
    text-decoration: none!important;
}
.after-footer{
    height: 70px;
    background-color: black;
}
.after-footer p {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.Maps{
    display: grid;
    height: 200px;
    width:100%;
    background-color: #fff;
    
}
@media (min-width: 768px) {
    .Maps{
        height: 200px;
        width:500px;
        background-color: #fff;
        margin-top: 30px;
       
    }
}
  