:root{
    --anchoPantalla : 1200px;
    --anchoPantallaNew :2000px;
    --textNone: none;
}

/*Globals*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  img{
      max-width: 100%;
  }
  body{
      background-color: #A39F9E!important;
  }

  .contenedor-header{
      max-width: 1709px;
      margin: 0 auto;
  }
  .contenedor{
    max-width: var(--anchoPantalla);
    margin: 0 auto;
  }

  h3{
      font-weight: bold;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: black;
      cursor: pointer;
  }
 
  li ,ul{
      list-style: none;
  }

  /*Cabezera*/
 
  .header {
    background-color: black;
    height: auto;
    width: 100%;
    z-index: 1111;
  }
  @media (min-width: 768px) {
    .header {
      background-color: black;
      height: auto;
      width: 100%;
      z-index: 11;
      display: block;
    }
  }
  @media (min-width: 1024px) {
    .header {
      background-color: black;
      height: 160px;
      width: 100%;
      z-index: 11;
    }
  }
  @media (min-width: 1600px) {
    .header {
      background-color: black;
      height: 150px;
      width: 100%;
      z-index: 11;
    }
  }
  .Header-Float {
    position: fixed;
  }
  
/* Logo imagen */
  @media (min-width: 360px) {
    .logo-main{
       height: auto;
       width: 40%;
    }
}
@media (min-width: 768px) {
    .logo-main{
        height: 18rem;
      
    }
}
@media (min-width: 360px) {
    .logo-main img {
        width: 100%;
        background-color: red;
        margin-left: auto;
      }
}
@media (min-width: 768px) {
  .logo-main img {
    width: 100%;
    background-color: red;
    margin-left: auto;
  }
}
@media (min-width: 1709px) {
  .logo-main img {
    width: 100%;
   
  }
}

  /*Class para modificar la barra cuando se hace scroll*/
  
  @media (min-width: 360px) {
    .scroolLogo-Main img {
      height: auto;
      margin-top: 0px;
    }
  }
  @media (min-width: 768px) {
    .scroolLogo-Main img {
      width: 100%;
      height: 90%;
      margin-top: 0px;
    }
  }
  @media (min-width: 1024px) {
    .scroolLogo-Main img {
      width: 100%;
      height: 90%;
      margin-top: 0px;
    }
  }
  
 /* Main header */
 @media (min-width: 360px) {
    .main-header {
 
        display: grid;
        grid-template-columns: 1fr 110px ;

      }
}

@media (min-width: 768px) {
    .main-header {
 
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap:30px;
      }
}

@media (min-width: 360px) {
  .Search-main {
    display: none;
    padding-top: 50px;
  
  }
}

@media (min-width: 768px) {
  .Search-main {
    display: block;
    padding-top: 4em;
    
  }
}
.formulario {
    position: relative;
}

@media (min-width: 768px) {
    .Search-main button{
        position: absolute;
        width: 20%;
        height: 100%;
        right: 0;
        border: 2px solid red;
        background-color: red;
        color: white;
        font-size:1.4em;
        text-align: center;
    }
}
@media (min-width: 1024px) {
    .Search-main button{
        position: absolute;
        width: 10%;
        height: 100%;
        right: 0;
        border: 2px solid red;
        background-color: red;
        color: white;
        font-size:1.4em;
        text-align: center;
    }
}
.search:focus {
  border: 2px solid red;
}

@media (min-width: 768px) {
  .search {
    font-size: 1em;
    width: 100%;
    height:3.2em;
    outline: none;
    padding: 1.4em;
    border: 2px solid red;
  }
}


@media (min-width: 768px) {
  .Search-main span {
    position: absolute;
    font-size: 2.4em;
    margin-left: 0px;
    margin-top: 1.6em;
    background-color: red;
    padding: .20em;
    color: #fff;
  }
}


.Search-main span:hover {
  cursor: pointer;
  background-color: rgba(211, 14, 14, 0.664);
  transition: 0.4s;
}



@media (min-width: 768px) {
  .paddLeft-50px {
    padding-left: auto;
  }
}
@media (min-width: 360px) {
    .Icons-main{
        display: none;
    }
}
@media (min-width: 768px) {
  .Icons-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
    margin-top: 1.3em;
  }
}


/* ICONS USER */
@media (min-width: 768px) {
    .icons-user a {
      display: block;
      margin-top: 3.3em;
      text-decoration: none !important;
      color: #fff;
      font-size: 1em;
      width: 7em;
      text-align: center;
    }
  }
  
  .icons-user a:hover {
    color: red;
  }
  .icons-user .desplegable-cuenta{
    display: none;
    list-style: none;
    text-decoration: none;
    min-width: 100px;
    position: absolute;
    z-index: 1;
    background-color: red;
    min-width: 120px;
    
  }
  
  .desplegable-cuenta {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    
  }
  .desplegable-cuenta a {
    display: block;
    text-decoration: none !important;
    margin-top: 0px;
    color: #fff;
    line-height: 40px;
    width: 100%;
    padding: .5rem;
  }
  .desplegable-cuenta a:hover {
    color: red;
  }
  
  .icons-user .categorias-MiCuenta:hover .desplegable-cuenta{
    display: block;
  }
  .desplegable-cuenta  a:hover {
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.568);
  }
  
  
  @media (min-width: 768px) {
    .icons-shopping-card {
      margin-top: 3em;
      width:1.5em;
      height: 1.5em;
      margin-left: 1em;
     
    }
  }
  
  .icons-shopping-card img {
    width: 100%;
    position: relative;
  }
  .icons-shopping-card img {
    cursor: pointer;
  }
  
  .icons-shopping-card span {
    color: #fff;
    position: absolute;
    margin-top: .5em;
    text-align: center;
  }
  
 /* Modal carrito */

 .modalContainer {
    display: none;
    position: fixed;
    z-index: 11;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  .modalContainer .modal-content {
    background-color:white;
    margin: auto;
    padding: 20px;
    border: 1px solid lightgray;
    width: 30%;
    overflow: auto;
    height: 600px;
  }
  .modal-content h2 {
    text-align: center;
    font-weight: bold;
  }
  .modalContainer .closed {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .modalContainer .closed:hover,
  .modalContainer .closed:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .contenedor-carrito{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  
  
  
  @media (min-width: 360px) {
      .sub-menu {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-column-gap: 15px;
      
        }
  }
  @media (min-width: 768px) {
      @media (min-width: 360px) {
          .sub-menu {
              display: none;
              grid-template-columns: repeat(2, 1fr);
              grid-column-gap: 1em;
            }
      }
  }
  
  .sub-menu img {
    display: block;
    margin-top: 15px;
    margin-right: 10px;
  }
  
  @media (min-width: 768px) {
    .sub-menu img {
      display: none;
      margin-top: 30px;
    }
  }
  .carrito-sub-menu {
    display: grid;
  }
  @media (min-width: 768px) {
    .carrito-sub-menu {
      display: none;
    }
  }
  .carrito-sub-menu span {
    color: white;
    display: grid;
    padding-top: 3em;
    padding-left: 2.4em;
    margin: 0;
    position: absolute;
  }
  
 
.menu-burger{
    display: none;
    background-color: rgb(255, 0, 0);
    padding: 1rem;
  
  }
  
  .menu-burger li a{
    color:white;
    text-decoration: none!important;
    font-size: calc(1em + 1vw);
    display: block;
    padding: 1rem;
  }
  .menu-burger a:hover{
    text-decoration: none!important;
    color:rgb(226, 211, 211);
    background-color: black;
   
  }
  .menu-burger form{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  .misCategoriasMobile ul{
    color: white
  }
 /* CARRITO MODAL DESKTOP */
.slideNavCarrito {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
  }
  .slideNavCarrito a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .slideNavCarrito a:hover {
    color: #f1f1f1;
  }
  .slideNavCarrito .closebtn2 {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media (min-width: 360px) {
    .productos-carrito {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      border: 1px solid white;
      margin-bottom: 10px;
    }
  }
  @media (min-width: 768px) {
    .productos-carrito {
      display: flex;
      justify-content: space-around;
      justify-items: center;
      border: none;
      margin-bottom: 10px;
    }
  }
  
  .site-image{
      width: 50%;
      
  }
  .site-image1{
    justify-self: center;
    width: 50%;
    
  }
  .site-image1 img{
     margin-top: 0;
    
  }
  .site-image img {
     margin-top: 0;
     padding-left: 3px;
  }
  .site-image-carrito{
      width: 20%;
  }
  .site-image-carrito img{
    margin-top: 0;
    padding-left: 0px;
  }
  .site-information1 {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
  }
  .site-information{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      grid-template-rows: repeat(11,1fr);
     
  }
 
  
  @media (min-width: 360px) {
    .titulo-encabezado p {
        margin-top: 10px;
        font-size: 14px;
        background-color: rgb(119, 141, 69);
        color: white;
        padding: 10px;
        width: 100%;
        font-weight: 700;
        text-align: center;
      }
  }
  @media (min-width: 768px) {
    .titulo-encabezado p {
        margin-top: 0;
        font-size: 14px;
        background-color: rgb(119, 141, 69);
        color: white;
        padding: 2px;
        width: 32%;
        font-weight: 700;
        text-align: start;
      }
  }
 
  @media (min-width: 360px) {
    .titulo-publi h4{
        font-size: 36px;
        font-family: 'Open Sans', sans-serif;
        padding: 10px;
        margin-top: 0;
        color: black;
        margin-bottom: 0;
    }   
  }
  @media (min-width: 768px) {
    .titulo-publi h4{
        font-size: 36px;
        font-family: 'Open Sans', sans-serif;
        padding: 0px;
        margin-top: 0;
        color: black;
        margin-bottom: 0;
    }
  }
 
  @media (min-width: 360px) {
    .codigo {
        padding-left: 10px;
        margin-top: 0;
    }
  }
  @media (min-width: 768px) {
    .codigo {
        padding-left: 0;
        margin-top: 0;
    }
  }
  .codigo b {
      font-weight: 1000;
  }
 
  @media (min-width: 360px) {
    .codigo p  {
        font-size: 15px;
      }
  }
  @media (min-width: 768px) {
    .codigo p  {
        font-size: 15px;
      }
  }
  .price h4 {
      font-size: 34px;
      font-weight:2;
      color: black;
      font-family: 'Open Sans', sans-serif;

  }
  @media (min-width: 360px) {
    .price h4 {
        padding-left: 10px;
        font-size: 34px;
        font-weight:2;
        color: black;
        font-family: 'Open Sans', sans-serif;
  
    }
  }
  @media (min-width: 768px) {
    .price h4 {
        padding-left: 0px;
        font-size: 34px;
        font-weight:2;
        color: black;
        font-family: 'Open Sans', sans-serif;
  
    }
  }
 
  @media (min-width: 360px) {
    .envios{
        font-weight: bold;
        padding-left: 10px;
    }
  }
  @media (min-width: 768px) {
    .envios{
        font-weight: bold;
        padding-left: 0px;
    }
  }
  @media (min-width: 360px) {
    .cuotas{
        margin-left: 6px;
        font-weight: bold;
        margin-bottom: 0;
        padding-left: 10px;
    }
  }
  @media (min-width: 768px) {
    .cuotas{
        margin-left: 6px;
        font-weight: bold;
        margin-bottom: 0;
        padding-left: 0px;
    }
  }
 
  .tarjetas-horizontal{
      margin-top: 0;
      margin-left: 25px;
  }
  @media (min-width: 360px) {
    .garantia p {
        font-weight: bold;
        margin-left: 5px;
        margin-top: 10px;
        padding-left: 10px;
    }
  }
  @media (min-width: 768px) {
    .garantia p {
        font-weight: bold;
        margin-left: 5px;
        margin-top: 10px;
        padding-left: 0px;
    }
  }

  @media (min-width: 360px) {
    .cantidad p {
        font-weight: bold;
        padding-left: 10px;
    }
  }
  @media (min-width: 768px) {
    .cantidad p {
        font-weight: bold;
        padding-left: 0px;
    }
  }
 
   @media (min-width: 360px) {
      
  .btn-sección{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-row-gap: 10px;
    margin-top: 20px;
    width: 100%;
   
}
  }
  @media (min-width: 768px) {
    .btn-sección{
        margin-top: 0px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-row-gap: 10px;
        width: 50%;
       
    }
  }
  .btn-comprar {
      background-color: rgba(12, 8, 8, 0.712);
      color: white;
      padding: 10px;
      font-size: 20px;
      font-weight: bold;
      outline: none;
      border-style: solid;
      transition: .3s;
      border-radius: 4px;
  }
 
  .btn-comprar:hover{
      background-color: rgba(12, 8, 8, 0.966);
  }
  .btn-agregar{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    outline: none;
    transition: .3s;
    border-style: solid;
    border-radius: 5px;
  }
  .btn-agregar:hover{
      background-color: #e2dfdf;
      
  }
  .site-informacion-carrito1{
    margin-top: 10px;
  
    width: 60%;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    overflow: hidden;
   
    text-overflow: ellipsis;
   
  }
  .site-information1 span {
    margin: 0 !important;
    position: absolute !important;
    padding: 0px !important;
    padding-top: 32px !important;
    padding-left: 0px !important;
}
  .DescartarArticulo {
    position: relative;
    width: 20%;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    border: none;
    background-color: transparent;
    color: white;
    border: solid 1px  white;
  }
    .DescartarArticulo-carrito {
      position: relative;
    
      height: 50%;
    
    
      border: none;
      background-color: transparent;
      color: black;
    
      margin-top: 20px;
     
    }
    .DescartarArticulo:hover{
        color: white;
        background-color: red;
        outline-color: var(--textNone);
    }
  

   .site-information-carrito p {
       padding-top: 30px;
   }
   .site-information-carrito span{
    margin: 0!important;
    position: absolute!important;
    padding: 0px!important;
    padding-top: 80px!important;

   }
   .Total{
       max-width: 300px;
       margin: 40px auto;
       
   }
   .Total-carrito{
    max-width: 300px;
    margin: 20px auto;
    text-align: center;
   }
   .Total P {
       color:white;
       font-size: 20px;
   }
   .Total-carrito p {
    color:black;
    font-size: 20px;
   }
   .OpcionCarrito{
       display: flex;
       justify-content: center;
     
   }
   .OpcionCarrito button {
       padding: 20px;
       margin-right: 10px;
   }
   .vaciar{
       background-color:transparent;
       border: solid;
       color: white;
       font-weight: bold;
       border-color: white!important;
       outline-color: white;
   }
   .vaciar-carrito {
        background-color:transparent;
        border: 5px solid;
        color: black;
        font-weight: bold;
        border-color: red!important;
        outline-color: white;
        transition: .5s;
   }
   .vaciar-carrito:hover{
       background-color: red;
       color: white;
   }
   .vaciar:hover{
       background-color: red;
   }
   .comprar{
       font-weight: bold;
       background-color: rgb(6, 114, 6);
       border: none;
       color:white;
   }
   .comprar-carrito {
    font-weight: bold;
    background-color: rgb(6, 114, 6);
    border: solid;
    color: white;
   
  }
 
  @media screen and (max-height: 450px) {
    .slideNavCarrito {padding-top: 15px;}
    .slideNavCarrito a {font-size: 18px;}
  }
  
 /*Barra*/

/*Barra*/
.Barra {
    height: auto;
    width: 10px;
    background-color: black;
    width: 100%;
  }
  @media (min-width: 1707px) {
    .Barra {
      height: auto;
      width: 10px;
      background-color: black;
      width: 100%;
     
      padding-bottom: 30px;
    }
  }
  .contenedor-barra {
    display: none;
  }
  @media (min-width: 1709px) {
    .contenedor-barra {
      display: flex;
      justify-content: space-between;
    }
  }
  .Menu-desplegable {
    cursor: pointer;
    margin-left: 100px;
  }
  .Menu-desplegable .desplegable {
    display: none;
    list-style: none;
    text-decoration: none;
    min-width: 100px;
    position: absolute;
    z-index: 1;
    background-color: red;
    min-width: 215.69px;
    line-height: 30px;
    height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .desplegable  {
   
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: left;
   
  }
  .desplegable li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .desplegable a {
    display: block;
    text-decoration: none !important;
    text-transform: uppercase;
    color: #fff;
    line-height: 40px;
  }
  #categoriaMobile li a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .desplegable a:hover {
    color: red;
  }
  .Menu-desplegable .categoriasDesplegables:hover .desplegable {
    display: block;
  }
  .desplegable a:hover {
    text-decoration: none;
  
    color: #fff;
    background-color: rgba(0, 0, 0, 0.568);
  }
  .vr {
    width: 4px;
    background-color: #fff;
    height: 70px;
    margin-left: 10px;
  }
  
  .barra-categoria {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 5px;
  }
  .barra-categoria div {
    text-align: center;
  }
  
  .barra-categoria label {
    color: #fff;
    display: flex;
    justify-content: center;
  }
  .barra-after {
    background-color: red;
    height: 10px;
  }
  
  @media (min-width: 768px) {
    .barra-after {
      background-color: red;
      height: 2rem;
      display: block;
    }
  }
  
  @media (min-width: 360px) {
    .barra-afterr {
      background-color: red;
      position: fixed;
      height: 1rem;
      width: 100%;
      margin-top: 6rem;
      z-index: 1;
    }
  }
  @media (min-width: 768px) {
    .barra-afterr {
      display: block;
      background-color: red;
      position: fixed;
      height: 20px;
      width: 100%;
      margin-top: 120px;
      z-index: 1;
    }
  }
  @media (min-width: 1024px) {
    .barra-afterr {
      display: block;
      background-color: red;
      position: fixed;
      height: 20px;
      width: 100%;
      margin-top: 15rem;
      z-index: 1;
    }
  }
  @media (min-width: 1920px) {
    .barra-afterr {
      display: block;
      background-color: red;
      position: fixed;
      height: 20px;
      width: 100%;
      margin-top: 150px;
      z-index: 1;
    }
  }
   
/* Site main */
    

@media (min-width: 360px) {
    .barra-publicacion{
        width: 100%;
        background-color: red;
        margin-top: 20px;
       
    }
}
@media (min-width: 360px) {
    .barra-publicacion p {
        color: white;
        padding: 10px;
        margin-bottom: 10px;   
        font-weight: 600;
        margin-left: 20px;
        letter-spacing: 1px; 
    
    }
}
/* main */

.site-publicación {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 50px;
  
}
@media (min-width: 360px) {
    .site-publicación {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-column-gap: 50px;
      
    }
}
@media (min-width: 768px) {
    .site-publicación {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 50px;
      
    }
}

@media (min-width: 360px) {
    .site-image{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-column-gap: 10px;
    }
}
@media (min-width: 768px) {
    .site-image{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 10px;
       
    
    
    }
}

/* @media (min-width: 360px) {
    .site-image-main{
        background-color: white;
        width: 360px;
        height: 360px;
        border-radius: 10px;
        overflow: hidden;
    
    }
}
@media (min-width: 768px) {
    .site-image-main{
        background-color: white;
        width: 500px;
        height: 500px;
        border-radius: 10px;
        overflow: hidden;
    
    }
}
.site-image-main img {

   border-radius: 10px;
   width: 100%;
   height: 100%;
   
}
@supports(object-fit: cover){
  .site-image-main img {
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
 }
}
.site-imagen-main{
    display: flex;
    flex-direction: column;
} */
.site-image-main{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 10px;
}
@media (min-width: 360px) {
  .box{
    width: 360px;
    height: 360px;
    background: white;
    overflow: hidden;
    border-radius: 10px;
  }
}
@media (min-width: 758px) {
  .box{
    width: 500px;
    height: 500px;
    background: white;
    overflow: hidden;
    border-radius: 10px;
  }
}

.box img{
  width: 100%;
  height: auto;

}
@supports(object-fit: cover){
    .box img{
      height: 100%;
      object-fit: scale-down;
      object-position: center center;
    }
}

@media (min-width: 360px) {
    .site-image-after{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        justify-items: center;
        margin-bottom: 20px;
        margin-right: 0;
      
    }
}
@media (min-width: 768px) {
    .site-image-after{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: start;
        margin-bottom: 0;
       
    } 
}

@media (min-width: 360px) {
    .producto-imagen{
        cursor: pointer;
        width: 70px;
        height: 70px;
        background-color: white;
        border-radius: 10px;
        
    }
}
@media (min-width: 768px) {
    .producto-imagen{
        cursor: pointer;
        width: 100px;
        height: 100px;
        background-color: white;
        border-radius: 10px;
        
    }
}
.producto-imagen:hover{
    border: 1px solid red;
}
.producto-imagen img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: scale-down;
}
.site-information{
    display: flex;
    flex-direction: column;
}
.titulo-publicacion{
    font-size: 30px;
    font-weight: 900;
    color: black;
}
.información-producto{
   display: flex;
   font-size: 11px;
}
.información-producto p {
    margin-right: 20px;
}
.precio-publicación{
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.seccion-botones{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-top: 200px;
    justify-items: center;
    grid-column-gap: 10px;
}
.boton-comprar {
    background-color:#3483FA; 
    width: 100%;
    height: 50px;
    font-weight: 900;
    font-size: 15px;
    letter-spacing: 5px;
    outline: none;
    border: none;
    transition: .2s;
   
}
.boton-comprar:hover{
    background-color: #2d71d6;
}
.boton-carrito {
    background-color: transparent;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    letter-spacing: 4px;
    outline: none;
    border: solid #f15fa3;
    transition: .2s;
    border-radius: 10px;
}
.boton-carrito:hover{
    background-color: #f15fa3;
}

 .site-comentarios{
    margin-top: 20px;
    margin-bottom: 20px;
} 
.site-comentarios-2{
    display: grid;
    grid-template-columns: repeat(1,1fr);

}
.site-comentarios-2 h4 {
    margin-left: 70px;
    font-size: 20px;
    font-weight: 1000;
    color: red;
}
.block-comentar{
    text-align: center;
}
.block-comentar textarea{
   width:90%;
   height: 100px;
   border-radius: 10px;
   font-size: 20px;
   padding: 10px;
}
.comentar {
    width: 120px;
    height: 40px;
    margin-left: 1020px;
    background-color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
    border-style: none;
    color: white;
    margin-top: 10px;
    border-radius: 2px;
   
 
}


.linea-especificaciones{
    background-color: red;
    height: 2px;
    margin-top: 0;
   
}


@media (min-width: 360px) {
    .barra-especifaciones p{
        text-decoration: none!important;
        display: block;
        background-color: red;
        width: 60%;
        padding: 10px;
        color: white;
        font-size:18px;
        font-weight: bold;
        content: 'linea';
        margin-bottom: 0;
    }
}
@media (min-width: 768px) {
    .barra-especifaciones p{
        text-decoration: none!important;
        display: block;
        background-color: red;
        width: 18%;
        padding: 10px;
        color: white;
        font-size:18px;
        font-weight: bold;
        content: 'linea';
        margin-bottom: 0;
    }
}
.especificaciones-main {
    display: grid;
    grid-column-gap: 20px;
    border: 1px solid red;
    padding: 20px;
    margin-top: 0;  
}
 .contenedor-especificaciones{
    hyphens: auto;
 }
 .contenedor-especificaciones p{
     font-size: 1.4em;
     color: black;
     font-weight: 200;
 }
.barra-productos-relacionados{
    display: flex;
    justify-content: center;
    white-space: nowrap;
}


@media (min-width: 360px) {
    .barra-productos-relacionados p{
        width: 70%;
        white-space: nowrap;
        position: relative;
        text-align: center;
        background-color: red;
        padding: 10px;
        color: white;
      
        font-weight: bold;
        letter-spacing: 3px;
        z-index: 1;
    }
}
@media (min-width: 768px) {
    .barra-productos-relacionados p{
        white-space: nowrap;
        position: relative;
        text-align: center;
        background-color: red;
        padding: 10px;
        color: white;
        width: 30%;
        font-weight: bold;
        letter-spacing: 3px;
        z-index: 1;
    
    }
}

@media (min-width: 360px) {
    .linea-productos-relacionado{
        position: absolute;
        margin-top:20px;
        background-color: red;
        height: 2px;
        width: 100%;
    }
}
@media (min-width: 768px) {
    .linea-productos-relacionado{
        position: absolute;
        margin-top:20px;
        background-color: red;
        height: 2px;
        width: 60%;
    }
}

@media (min-width: 360px) {
    .caja-comentar{
        margin-top: 1em;
        padding: 10px;
    }
}
@media (min-width: 768px) {
    .caja-comentar{
        margin-top: 1em;
        padding:0px;
        margin-bottom: 30px;
    }
}
.caja-comentar textarea{
   outline-color: red;
}
.btn-comentar{
    float: right;
    white-space: nowrap;
    padding: 4px;
    font-size: 16px;
    border-style: solid;
    outline: none;
    background-color: #868382;
    color: white;
}
.btn-comentar:hover{
    background-color:#686564;
}
/**
     * Oscuro: #283035
     * Azul: #03658c
     * Detalle: #c7cacb
     * Fondo: #dee1e3
     ----------------------------------*/
     * {
        margin: 0;
        padding: 0;
     
      
     }
     .comment-name a{
         text-decoration: none!important;
     }
     .admin{
         background-color: red;
     }
    
    /** ====================
     * Lista de Comentarios
     =======================*/
    .comments-container {
        width: 768px;
    }
    
    .comments-container h1 {
        font-size: 36px;
        color: #283035;
        font-weight: 400;
    }
    
    .comments-container h1 a {
        font-size: 18px;
        font-weight: 700;
    }
    
    .comments-list {
        margin-top: 30px;
        position: relative;
    }
    
    /**
     * Lineas / Detalles
     -----------------------*/
    .comments-list:before {
        content: '';
        width: 2px;
        height: 100%;
        background: #c7cacb;
        position: absolute;
        left: 32px;
        top: 0;
    }
    
    .comments-list:after {
        content: '';
        position: absolute;
        background: #c7cacb;
        bottom: 0;
        left: 27px;
        width: 7px;
        height: 7px;
        border: 3px solid #dee1e3;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }
    
    .reply-list:before, .reply-list:after {display: none;}
    .reply-list li:before {
        content: '';
        width: 60px;
        height: 2px;
        background: #c7cacb;
        position: absolute;
        top: 25px;
        left: -55px;
    }
    
    
    .comments-list li {
        margin-bottom: 15px;
        display: block;
        position: relative;
    }
    
    .comments-list li:after {
        content: '';
        display: block;
        clear: both;
        height: 0;
        width: 0;
    }
    
    .reply-list {
        padding-left: 88px;
        clear: both;
        margin-top: 15px;
    }
    /**
     * Avatar
     ---------------------------*/
    .comments-list .comment-avatar {
        width: 65px;
        height: 65px;
        position: relative;
        z-index: 99;
        float: left;
        border: 3px solid #FFF;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        overflow: hidden;
    }
    
    .comments-list .comment-avatar img {
        width: 100%;
        height: 100%;
    }
    
    .reply-list .comment-avatar {
        width: 50px;
        height: 50px;
    }
    
    .comment-main-level:after {
        content: '';
        width: 0;
        height: 0;
        display: block;
        clear: both;
    }
    /**
     * Caja del Comentario
     ---------------------------*/
    .comments-list .comment-box {
        width: 680px;
        float: right;
        position: relative;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
        -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
        box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    }
    
    .comments-list .comment-box:before, .comments-list .comment-box:after {
        content: '';
        height: 0;
        width: 0;
        position: absolute;
        display: block;
        border-width: 10px 12px 10px 0;
        border-style: solid;
        border-color: transparent #FCFCFC;
        top: 8px;
        left: -12px;
    }
    
    .comments-list .comment-box:before {
        border-width: 11px 13px 11px 0;
        border-color: transparent rgba(0,0,0,0.05);
        left: -12px;
    }
    
    .reply-list .comment-box {
        width: 610px;
    }
    .comment-box .comment-head {
        background: #FCFCFC;
        padding: 10px 12px;
        border-bottom: 1px solid #E5E5E5;
        overflow: hidden;
        -webkit-border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
    }
    
    .comment-box .comment-head i {
        float: right;
        margin-left: 14px;
        position: relative;
        top: 2px;
        color: #A6A6A6;
        cursor: pointer;
        -webkit-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        transition: color 0.3s ease;
    }
    
    .comment-box .comment-head i:hover {
        color: #03658c;
    }
    
    .comment-box .comment-name {
        color: #283035;
        font-size: 14px;
        font-weight: 700;
        float: left;
        margin-right: 10px;
    }
    
    .comment-box .comment-name a {
        color: #283035;
    }
    
    .comment-box .comment-head span {
        float: left;
        color: #999;
        font-size: 13px;
        position: relative;
        top: 1px;
    }
    
    .comment-box .comment-content {
        background:#ffffff;
        padding: 12px;
        font-size: 15px;
        color: black;
        -webkit-border-radius: 0 0 4px 4px;
        -moz-border-radius: 0 0 4px 4px;
        border-radius: 0 0 4px 4px;
    }
    
    .comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
    .comment-box .comment-name.by-author:after {
        content: 'autor';
        background: red;
        color: #FFF;
        font-size: 12px;
        padding: 3px 5px;
        font-weight: 700;
        margin-left: 10px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    
    /** =====================
     * Responsive
     ========================*/
     @media (min-width: 360px) {
        .comments-container {
            width: 330px;
            margin-top: 50px;
        }
    
        .comments-list .comment-box {
            width: 70%;
        }
    
        .reply-list .comment-box {
            width:  73%;
        }
     }
     @media (min-width: 768px) {
        .comments-container {
            width: 768px;
            margin-top: 20px;
        }
    
        .comments-list .comment-box {
            width: 89%;
        }
    
        .reply-list .comment-box {
            width:  89%;
        }
     }

@media (min-width: 360px) {
    .bnt-comentarios{
        text-align: center;
        margin-bottom: 20px;
        
    }

}
@media (min-width: 360px) {
    .bnt-comentarios button{
        background-color: transparent;
        padding: 10px;
        color:white;
        font-weight: 500;
        font-size: 15px;
        border-style: solid;
        border-color: red;
        transition: .2s;
    }


}
.bnt-comentarios button:hover{
    background-color: red;
    border-color: white;

}


 
/*Contenedor footer*/
.before-footer{
    height: auto;
    background-color: grey;
    display: flex;
    flex-direction: column-reverse;

}
@media (min-width: 768px) {
    .before-footer{
        height: 250px;
        background-color: grey;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width: 360px) {
    .information{
        display: grid;
        padding-top: 20px;
        line-height: 40px;
        grid-template-columns: repeat(1,1fr);
        text-align: center;
        margin-bottom: 10px;
       
    }
}
@media (min-width: 768px) {
    .information{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        line-height: 40px;
    }
}

.information a {
    color: #fff!important;
    text-decoration: none!important;
}
@media (min-width: 768px) {
    .information a {
        color: #fff!important;
        text-decoration: none!important;
    }
}
.information a:hover {
    color: red!important;
    text-decoration: none!important;
}
.after-footer{
    height: 70px;
    background-color: black;
}
.after-footer p {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.Maps{

    display: grid;
    height: 200px;
    width:100%;
    background-color: #fff;
    
}
@media (min-width: 768px) {
    .Maps{
        height: 200px;
        width:500px;
        background-color: #fff;
        margin-top: 30px;
       
    }
}
/* Login */
@media (min-width: 360px) {
    .modal-dialog {
      width: auto!important;
      margin: 30px auto;
  }
  }
  @media (min-width: 768px){
    .modal-dialog {
      width: 400px!important;
      margin: 30px auto;
  }
  }
  
  
 
@media (min-width: 360px) {
  /* Input file style */
.custom-input-file {
  background-color: #941B80;
  color: #fff;
  cursor: pointer;
  font-size: calc(1em + 1vw);
  font-weight: bold;
  margin: 0 auto 0;
  min-height: 15px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 100%;
}
}
@media (min-width: 768px) {
    /* Input file style */
.custom-input-file {
  background-color: #941B80;
  color: #fff;
  cursor: pointer;
  font-size: calc(.6em + .6vw);
  font-weight: bold;
  margin: 0 auto 0;
  min-height: 15px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 100%;
}
}
.custom-input-file .input-file {
border: 10000px solid transparent;
cursor: pointer;
font-size: 10000px;
margin: 0;
opacity: 0;
outline: 0 none;
padding: 0;
position: absolute;
right: -1000px;
top: -1000px;
}
@media (min-width: 360px) {
.modal-header h4 img{
    width: 100%;
} 
}
@media (min-width:  768px) {
.modal-header h4 img{
    width: 50%;
} 
}
.desplegable::-webkit-scrollbar {
  width: 13px;
}

.desplegable::-webkit-scrollbar-track {
  
  border-radius: 10px;
  background-color: rgb(248, 240, 255);
  
}

.desplegable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  
  background-color: rgb(202, 167, 167);
  
}


  
  